/* Geral */
*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
ul{
    list-style: none;
}
/* nav bar */
header nav{
    background-color: #333;
}
#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .7rem;
    padding: 0 1rem;
    max-width: 1000px;
    margin: 0 auto;
}
#navbar a{
    color: #f5f5f7;
    transition: .4s;
}
#navbar a:hover{
    color: white;
}
#bottom-header{
    font-size: .8rem;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}
#bottom-header h3{
    font-size: 1.2rem;
}
#bottom-header a {
    color: #333;
}
#bottom-header-inner{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bottom-header-inner a {
    margin: 0 0.5rem;
}
#bottom-header-inner .btn,.btn{
    background-color: #0071e3;
    border-radius: 10rem;
    padding: .4rem 1rem;
    color: white;
}
/* conteudo */
#ribbon {
    text-align: center;
    padding: 1rem;
    background-color: #f5f5f7;
    color: #1d1d1d;
    font-size: .8rem;
}
#ribbon a {
    color: #0071e3;
}
#main-content{
    text-align: center;
    color: #1d1d1d;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#main-content #title{
    margin: 1rem;
    font-size: 1.2rem;
}
#main-content #subtitle{
    margin: 1rem;
    font-size: 4rem;
    font-weight: bold;
}
#main-content #description{
    max-width: 600px;
    margin: 1rem auto;
    font-size: 1.1rem;
    line-height: 1.5rem;
}
#main-content #price{
    font-size: 1.3rem;
    color: #86868b;
    margin: 2rem;
}
#main-content .btn{
    font-size: 1.1rem;
    padding: .8rem 1.4rem;
    align-self: center;
}
#main-content #product-image {
    max-width: 1000px;
    margin:3rem auto;
    opacity:1;
    transition: .5s;
}
#main-content #product-image.changing{
    opacity:.5;
}
#image-picker {
    margin-bottom:500px;
}
#image-picker ul{
    display:flex;
    justify-content: center;
}
#image-picker li{
    margin:1rem;
    display: flex;
    flex-direction:column;
    align-items: center;
    cursor:pointer;
}
#image-picker li .color{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    box-shadow: 1px 1px 1px;
    border:4px solid white;
    pointer-events: none;
}
#image-pickerli li .description{
    font-size: .7rem;
    color:#1d1d1d;
    margin:0.6rem;
}
#green .color{
    background-color: #394c38;
}
#silver .color{
    background-color: #f1f2ed;
}
#golden .color{
    background-color: #fae7cf;
}
#grafite .color{
    background-color: #54524f;
}
#blue .color{
    background-color: #a7c1d9;
}
.selected{
    outline: 2px solid #43a1ff;
}
/* Moblie */
@media (max-width: 580px){
    #navbar li{
        display: none;
    }
    #navbar #logo{
        display: flex;
    }
    #bottom-header-links a {
        display: none;
    }
    #bottom-header-links .btn{
        display: flex;
    }
    #main-content{
        padding: 2rem;
        overflow: hidden;
    }
    #main-content #subtitle{
        font-size: 3rem;
    }
    #image-pickerli li .description{
        font-size: .4rem;
        color:#1d1d1d;
        margin:0rem;
    }
    #image-picker li .color{
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        box-shadow: 1px 1px 1px;
        border:4px solid white;
        pointer-events: none;
    }
    #image-picker li{
        margin:0.7rem;
        display: flex;
        flex-direction:column;
        align-items: center;
        cursor:pointer;
    }
}
